@page
@model RazorPages.Pages_Restrants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restrant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restrant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restrant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restrant.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restrant.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restrant.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restrant.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restrant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
